.divForm {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 324px;
  height: 292px;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 4px 32px -12px #00000040;
  margin-bottom: 50px;
}

label {
  color: black;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  display: block;
  margin: 0 0 12px 6px;
  text-align: left;
}

#description {
  width: 298px;
  height: 53px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
}
#description::placeholder {
  font-size: 16px;
}

#value {
  width: 128px;
  height: 53px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
}
#value::placeholder {
  text-align: right;
  margin-right: 11px;
}

select {
  width: 150px;
  margin-left: 20px;
  height: 53px;
  background-color: #f8f9fa;
  border: none;
  color: #868e96;
  border-radius: 8px;
  padding-left: 10px;
}
.buttonSend {
  margin-top: 19px;
  width: 316px;
  height: 48px;
  background-color: #fd377e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.descEx {
  color: #868e96;
  font-size: 12px;
  padding-left: 6px;
  text-align: left;
}
